<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.read.dao.AnnouncementMapper">
  <resultMap id="BaseResultMap" type="com.lz.read.pojo.Announcement">
    <!--@mbg.generated generated on Wed Apr 01 23:55:30 CST 2020.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="anno_title" jdbcType="VARCHAR" property="annoTitle" />
    <result column="anno_content" jdbcType="VARCHAR" property="annoContent" />
    <result column="anno_publishtime" jdbcType="TIMESTAMP" property="annoPublishtime" />
    <result column="anno_cancel" jdbcType="TINYINT" property="annoCancel" />
    <result column="anno_canceltime" jdbcType="TIMESTAMP" property="annoCanceltime" />
    <result column="anno_delete" jdbcType="TINYINT" property="annoDelete" />
    <result column="anno_deletetime" jdbcType="TIMESTAMP" property="annoDeletetime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Apr 01 23:55:30 CST 2020.-->
    id, anno_title, anno_content, anno_publishtime, anno_cancel, anno_canceltime, anno_delete, 
    anno_deletetime
  </sql>
</mapper>