<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.read.dao.BooktokenMapper">
  <resultMap id="BaseResultMap" type="com.lz.read.pojo.Booktoken">
    <!--@mbg.generated generated on Wed Apr 01 23:55:30 CST 2020.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="btn_bookid" jdbcType="INTEGER" property="btnBookid" />
    <result column="btn_readerid" jdbcType="INTEGER" property="btnReaderid" />
    <result column="btn_credit" jdbcType="INTEGER" property="btnCredit" />
    <result column="btn_status" jdbcType="TINYINT" property="btnStatus" />
    <result column="btn_time" jdbcType="TIMESTAMP" property="btnTime" />
    <result column="btn_num" jdbcType="INTEGER" property="btnNum" />
    <result column="btn_explain" jdbcType="VARCHAR" property="btnExplain" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Apr 01 23:55:30 CST 2020.-->
    id, btn_bookid, btn_readerid, btn_credit, btn_status, btn_time, btn_num, btn_explain
  </sql>
</mapper>