<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.read.dao.BookcouponMapper">
  <resultMap id="BaseResultMap" type="com.lz.read.pojo.Bookcoupon">
    <!--@mbg.generated generated on Wed Apr 01 23:55:30 CST 2020.-->
    <id column="dcid" jdbcType="INTEGER" property="dcid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="starttime" jdbcType="DATE" property="starttime" />
    <result column="endtime" jdbcType="DATE" property="endtime" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="dc_status" jdbcType="INTEGER" property="dcStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Apr 01 23:55:30 CST 2020.-->
    dcid, title, starttime, endtime, integral, dc_status
  </sql>
</mapper>