<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.read.dao.UpdateRecommendMsgMapper">
  <resultMap id="BaseResultMap" type="com.lz.read.pojo.UpdateRecommendMsg">
    <!--@mbg.generated generated on Tue Apr 21 20:46:05 CST 2020.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="result" jdbcType="BOOLEAN" property="result" />
    <result column="opinion" jdbcType="VARCHAR" property="opinion" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Apr 21 20:46:05 CST 2020.-->
    id, book_id, `result`, opinion
  </sql>
  <select id="selSomethingInsertToUpdateRecommendMsg" resultType="com.lz.read.pojo.UpdateRecommendMsg">
    SELECT
	bookname book_name,
	bt_name book_type,
	ex_name expert_name,
	username
FROM
	recommend
	JOIN book
on
recommend.id = #{recommendMsg.id}
and
	book.id = #{recommendMsg.reBookid}
	JOIN booktype ON booktype.id = book.book_type_id
	JOIN expert ON expert.id = #{recommendMsg.reExpertId}
	JOIN `user` ON `user`.userid = #{recommendMsg.reReaderid}
  </select>
</mapper>