<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.read.dao.UserevaluationMapper">
  <resultMap id="BaseResultMap" type="com.lz.read.pojo.Userevaluation">
    <!--@mbg.generated generated on Wed Apr 01 23:55:30 CST 2020.-->
    <id column="ueid" jdbcType="INTEGER" property="ueid" />
    <result column="bookid" jdbcType="INTEGER" property="bookid" />
    <result column="evaluationdetails" jdbcType="VARCHAR" property="evaluationdetails" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="ue_cretime" jdbcType="DATE" property="ueCretime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Apr 01 23:55:30 CST 2020.-->
    ueid, bookid, evaluationdetails, `uid`, grade, ue_cretime
  </sql>
</mapper>