<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.read.dao.WxUserMapper">
  <resultMap id="BaseResultMap" type="com.lz.read.pojo.WxUser">
    <!--@mbg.generated generated on Wed Apr 01 23:55:30 CST 2020.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="subscribe" jdbcType="INTEGER" property="subscribe" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
    <result column="subscribeTime" jdbcType="TIMESTAMP" property="subscribetime" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="groupid" jdbcType="VARCHAR" property="groupid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Apr 01 23:55:30 CST 2020.-->
    id, openid, subscribe, nickname, sex, city, country, province, `language`, headimgurl, 
    subscribeTime, unionid, remark, groupid
  </sql>
</mapper>